/*Login page*/
input{
  display: block;
  padding: 15px;
  margin: 10px 0px 15px 0px;
  width: 90%;
  border: 0px solid #000;
  border-bottom: 1px solid #999;
}
input:focus {
  outline:none;
}
button{
  width:100%;
  margin:35px 0px 15px;
  padding: 15px;
  background-color: rgb(147, 214, 80);
  border-radius: 7px;
  font-size: 20px;
  color: #fff;
  outline: none;
}
button:hover{
  background-color: rgb(162, 223, 101);
}
h1{
  margin: 0px;
}
.bottom_App{
  width: 100%;
  height: 220px;
  background-color: rgb(147, 214, 80) ;
}

.App{
  width: 100%;
}
.container{
  text-align: center;
  margin: auto;
  background-color: #fff;
  width: 25%;
  padding: 0px 10px 45px 10px;
}
.login_header{
  background-color: rgb(147, 214, 80) ;
  padding: 42.5px 0px 12.5px 0px;
  margin: -11px;
}

.logo{
  max-width: 100px;
  height: 100px;
  text-align: center;
  margin: auto;
  display: block;
}
.messanger_name{
  font-size: 30px;
  color: #fff;
 }

.user_data{
  padding: 30px 65px;
  text-align: left;
}
.Email_error{
  color: red;
  margin-bottom: -15px;
  font-size: 13px;
}
.Password_error{
  color: red;
  margin-top: 25px;
  margin-bottom: -10px;
  font-size: 13px;
}
.log_in:hover{
  background-color: rgb(162, 223, 101);
}
.sign_up:hover{
  background-color: rgb(189, 235, 140);
  color: #fff;
}
.signin_text{
  font-size: 18px;
  font-weight: 800;
  text-align: left;
}
.user_guide{
  color: #999;
  font-size: 13px;
  line-height: 150%;
  margin: 15px 0px 30px;
}
.sign_up{
  border: 3px solid rgb(147, 214, 80);
  background-color: #fff;
  margin: 0px;
  color: rgb(147, 214, 80);
}
/* Signup page*/
p{
  text-align: center;
}
a{
  text-decoration: none;
  color: rgb(155,220,90)
}
a:hover{
  color: rgb(75,135,35)
}
.signup_text{
  text-align: center;
}
.Signup_header{
  background-color: rgb(147, 214, 80);
  padding: 100.5px 0px 12.5px 0px;
  margin: -11px;
}
.signup{
  background-color: rgb(147, 214, 80);
}
.signup:hover{
  background-color: rgb(162, 223, 101);;
}
.having_account{
  font-size: 15px;
  font-weight: 340;
}
/*Responsive*/
@media only screen and (max-width: 780px) {
  .container{
    width: 90%;
    text-align: center;
    margin: auto;
    padding: 0px
  }
}
/*Profile page*/
hr{
  border: 1px solid rgb(230, 230, 230);
  padding-block-end: -5%;
}
textarea{
  width: 95%;
  outline: none;
}
.loading{
  margin-left: 45%;
  margin-top: 60px;
  margin-bottom: 60px
}
.uploadImage{
  display: none;
}
.Avatar{
  display: block;
  padding: 50px 40px;
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
.Avatardiv{
  background-color: rgb(147, 214, 80);
  margin: -10px;
  position: relative;
}
.container_profile{
  text-align: center;
  margin: auto;
  background-color: #fff;
  width: 30%;
  padding: 0px 10px 45px 10px;
}
@media only screen and (max-width: 780px) {
  .container_profile{
    width: 80%;
    padding: 10px
  }
  .add_profileimg{
    display: inline;
    width:50px;
    height: 50px;
    border-radius: 50%;
    padding: 32px;
    background-color: rgb(233, 230, 230);
    position: relative;
    position: absolute;
    left: 85%;
    bottom: -20%;
  }
  .cameraico{
    width: 20px;
    height: 10px;
    position: absolute;
    right: 27%;
    bottom: 28%;
  }
}
.add_profileimg{
  display: inline;
  width:50px;
  height: 50px;
  border-radius: 50%;
  padding: 32px;
  background-color: rgb(233, 230, 230);
  position: relative;
  position: absolute;
  left: 85%;
  bottom: -20%;
}
.add_profileimg:hover{
  background: rgb(194, 207, 74);
}
.cameraico{
  width: 30px;
  height: 30px;
  position: absolute;
  right: 27%;
  bottom: 28%;
}
@media only screen and (max-width: 750px) {
  .container_profile{
    width: 80%;
    text-align: center;
    margin: auto;
    padding: 10px
  }
  .add_profileimg{
    display: inline;
    width:10px;
    height: 10px;
    border-radius: 50%;
    padding: 20px;
    background-color: rgb(233, 230, 230);
    position: relative;
    position: absolute;
    left: 83%;
    bottom: -15%;
  }
  .cameraico{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 27%;
    bottom: 28%;
  }
}
.profile_text{
  padding: 8%;
  line-height: 80%;
}
.profile{
  text-align: left;
  position: relative;
}
.firstname_input{
  display: inline-block;
  width:50%;
}
.FName_error{
  font-size: 13px;
  color: red;
  position: absolute;
  top: 20px;
  left: 200px;
}
.LName_error{
  font-size: 13px;
  color: red;
  position: absolute;
  top: 90px;
  left: 200px;
}
.City_error{
  font-size: 13px;
  color: red;
  position: absolute;
  top: 160px;
  left: 200px;
}
.First_name{
  display: inline-block;
  width:40%;
  color: #999;
}
.lastname_input{
  display: inline-block;
  width:50%;
}
.Last_name{
  display: inline-block;
  width:40%;
  color: #999;
}
.City_input{
  display: inline-block;
  width:50%;
}
.City{
  display: inline-block;
  width:40%;
  color: #999;
}
.description_input{
  height: 150px;
  margin-top: -50px;
}
.description{
  display: block;
  color: #999;
  margin-top: 25px;
  margin-bottom: 75px;
}
/*massenger page*/
textarea {
  border: 0px solid #000; 
}
.contact_list {
  border: 1px solid rgb(223, 223, 223);
  width: 35vw;
  background-color: #fff;
  overflow: scroll
}
.leftSide{
  display: flex;
  flex-direction: column;
}
.Chat {
  display: flex !important;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #000;
  width: 100vw;
  background-color: #fff;
}
.search_bar {
  display: flex;
  flex-direction: row;
}
.MenuIcon {
  width: 70px;
  margin: 500px
}
.LoadingSearchText {
  color: rgb(65, 122, 8);
  font-weight: 1200;
  font-size: 1000;
}
.LoadingSearchUI {
  display: inline-block;
  padding-top: 10px;
}
.Drawer {
  width: 35vw;
}
.drawer_header {
  display: flex;
  margin-left: 230px;
  align-items: center;
  justify-content: flex-end;
}
.conv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 7px 0px;
  cursor: pointer;
}
.conv:hover {
  background-color: rgb(233, 233, 233);
}
.profileContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-grow: 0.15;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 4;
}
.contact_content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 98%;
}
.latest_message {
  font-size: 15px;
  color:#999; 
}
.latest_date {
  color: #999;
  font-size: 12px;
}
.unseen_message {
  color: #fff;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  background-color: rgb(147, 214, 80);
}
.messengerscreen {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 100vh;
}
.base_screen {
  flex-grow: 25;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.screen {
  background-image: url(./img/backgroundChat.jpg);
  height: 89vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px;
  overflow: hidden;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background-color: rgb(170, 230, 111);
}
.header:hover {
  background-color: rgb(147, 214, 80);
}
.header_profile {
  width: 40px;
}
.header_convFN {
  font-size: 16px;
}
.chat_screen {
  display: flex;
  flex-direction: row;
  justify-content: flex-start
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 6px;
}
.send_icon{
  width: 20px;
  cursor: pointer;
}
.message {
  background-color: #fff;
  color: #000;
  padding: 2px 10px;
  margin: 2px;
  border-radius: 7px 7px 7px 0px;
}
.message_sender {
  background-color: rgb(220, 240, 200);
  color: #000;
  padding: 2px 10px;
  margin: 2px;
  border-radius: 7px 7px 0px 7px;
}
.sender {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.ps_div {
  display: flex;
  flex-grow: 0.004;
}
.profile_sender {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
}
.receiver{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;
}
.profile_img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
}
.emoji_button {
  width: 30px;
  height: 30px;
  cursor: pointer;
}
.emoji{
  display: flex;
  justify-content: flex-end;
}
.writting_textarea {
  padding: 2px;
  overflow: hidden;
}
.resizable_box {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-Content: 'center';
}
/* Responsive*/
@media only screen and (max-width: 750px) {
  .contact_list {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .Chat{
    display: none!important;
  }
}

.search {
  border: none;
  border-radius: 3px;
  background-color: rgb(212, 212, 212);
  margin: auto;
  padding: 10px;
}

.search:focus {
  outline: 2px solid rgb(114, 114, 253);
  background-color: #fff
}
.suggest {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 7px 0px
}

.suggest:hover {
  background-color: rgb(233, 233, 233);
}

.suggestedAvatar {
  width: 15px;
  border-radius: 7.5px
}

